@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body, h1, h2, nav, header,ul, li{
	margin:0;
	padding:0px;}
	
	


*, *:before, *:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box}

.wrapper{
	max-width: 1170px;
	margin: 0 auto;
	padding-top:100px;
	padding-left:18%;
	padding-right:18%;
	
	
	}
	
.column-intro{
	width:60%;
	float:left;}	
	
.people{
	font:bold}
	
.quotation-marks{
	font:	Georgia,Constantia, "Lucida Bright", "DejaVu Serif", serif;
	text-align:center;
	font-size}
	
.column-features{
	margin: 0%;
	width:31%;
	float:left;}
	
.home-image{
  position:absolute;
  size:30%;
  bottom:0;
  right:0;
  z-index:0;}

.column-people{
	width:18%;
	float:left;
	padding:20px;
	margin:20px;
	}
	
.yellow_box{
	height:150px;
	}
	
.grey_box{
	height:150px;
	}
	
.form{
	width:50%;}
	
.column-in-touch{
	float: left}
	
footer {
	clear:both;
}
		
	
.column-footer{
	width:25%;
	float:left;}
	
.column-screenshots{
	-webkit-box-sizing:border-box;	
	width:18%;
	padding:1%;
	float:left;
	align:center;}
	
.hand{
	text-align:right
	align-content:right}

.column-screenshots img{
	width:100%;}

.yellow_box{
	background-color:#FFF85D;
	padding:5 5 5 5}
	
.grey_box{
	background-color:#CDCDCD;
	padding:2 2 2 2}
	
#screenshots{
	clear:both;
	background-color:#E4E4E4;
	overflow: auto;}
	
#introducing_umbrella{
	clear:both;
	background-image:url(../images/background.png);
}

#introducing_umbrella .wrapper {
  position: relative;
  min-height:780px;
}
#quote{
	clear:both;}
	
#amazing_features{
	clear:both;}
	
header{
	position:fixed;
	background-color:white;
	overflow:auto;
	top:30px;
	width:100%;
	max-width:1170px;
	margin:0 auto;
	z-index:1;}
	
.alignleft{
	float:left;}
.alignright{
	float:right;}
	
	h3 {margin:0;}

.feature-details {
  padding:20px;
  overflow:auto;
  cursor:default;
}

.feature-details:hover {
  background:#fbfbe9;
}

.feature-details span {
  float:left;
  font-size:30px;
  line-height:30px;
  width:15%;
  margin-top:0;
}

.feature-content {
  width:85%;
  float:left;
}
	
.button{
	border: 3px solid #000000;
	padding: 15px 30px;
	text-decoration: none;
	color:#000000;
	font-size:22px;
	margin-top:60px:}
	
a.button:hover{
	opacity:.5;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;}
		
input {
	width:100%;
	border:0;
	border-bottom: 1px solid #ccc;}
	
.span{
	width:100%;}
	



#people_behind_app {}
	
p{
		text-align:center;}
	
