@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

h2{
	text-transform:uppercase;
	text-align:center}

body, h1, h2, nav, header,ul, li{
	margin:0;
	padding:0px;
	font-family:'Open Sans', sans serif;}
	
	


*, *:before, *:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  overflow: auto;
}
	

.intro {
  float:left;
  width:45%;
  margin-top:350px;
}
	
.people{
	font:bold}
	
.quotation-marks{
	font:"times,serrif";
	text-align:center;
	font-size:x-large}
	
.column-features{
	padding-right:30px;
	width:33%;
	float:left;}
	
.home-image{
  position:absolute;
  bottom:0;
  right:0;
  z-index:0;
}



	
.yellow_box{
	height:150px;
	}
	
.grey_box{
	height:150px;
	}
	
.form{
	width:50%;
	float:left;}
input{
	width:100%;}
	
.social{
	width:10%;
	float:left;
	}
		
.phone{
	width:25%;
	float:left;}
	
	
.column-in-touch{
	float: left}
	
footer {
	clear:both;
	font-size:x-small;
}
		
	
.column-footer{
	width:22%;
	padding:5px;
	float:left;}
	
.column-people{
	width:18%;
	float:left;
	
	margin:20px;
	}
	
.column-screenshots{	
	width:18%;
	padding-right:10px;
	float:left;
	align:center;}
	
.hand{
	text-align:right;}

.column-screenshots img{
	width:100%;}

.yellow_box{
	background-color:#FFF85D;
	padding:2 2 2 2;}
	
.grey_box{
	background-color:#CDCDCD;
	padding:2 2 2 2;}
	
#screenshots #people_behind_app{
	clear:both;
	background-color:#fafafa;
	overflow: auto;}
	
#introducing_umbrella{
  background: #f8e514 url("../images/background.png") no-repeat center;
  background-height: 100%;
  min-height:780px;
}

#introducing_umbrella .wrapper {
  position: relative;
  min-height:780px;
  
}
#quote{
	clear:both;}
	
#amazing_features{
	clear:both;}
	
header{
	position:fixed;
	background-color:white;
	overflow:auto;
	top:30px;
	width:100%;
	max-width:1170px;
	margin:0 auto;
	z-index:1;}
	
.alignleft{
	float:left;}
.alignright{
	float:right;}
	
	h3 {margin:0;}

.feature-details {
  padding:20px;
  overflow:auto;
  cursor:default;
}

.feature-details:hover {
  background:#fbfbe9;
}

.feature-details span {
  float:left;
  font-size:30px;
  line-height:30px;
  width:15%;
  margin-top:0;
}

.feature-content {
  width:85%;
  float:left;
}

#screenshots{
	background color:#D1D1D1;}
	


button {
  border:0;
  background:transparent;
  text-decoration:none;
  color:#000;
  font-size:18px;
  padding:0;
  margin-top:300px;
  cursor:pointer;}
  
  a.button:hover{
	 top-margin:30px;
	opacity:.5;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;}
		
a.button {
  top-margin:30px;
  border: 3px solid #000;
  padding: 15px 30px;
  text-decoration:none;
  color:#000;
  font-size:22px;
  
		
input{
	width:100%;
	border:0;
	border-bottom: 1px solid #ccc;
	padding 25px 0;
	font-size:12px}
	
#get_in_touch{
	border-bottom:2px solid #FCEE00
	
	
input:focus{
	outline:0;}
	
.span{
	max-width:100%;}
	



#people_behind_app {}
	
p{
		text-align:center;}
		

		
li .column-footer{
	float:left
	width:49%}
	
